<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <h1 class="text-white">Seus Dispositivos</h1>
      <div class="row m-auto">
        <div class="col-9">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <h5 class="card-title text-uppercase text-muted mb-0">Biodigestor 1 - Consumo</h5>
                  <div class="col-6 inline-block"><span
                    class="h2 font-weight-bold mb-0">Vazão Entrada - {{vazaoEntrada}} litros/segundo</span></div>
                  <div class="col-6 inline-block"><span class="h2 font-weight-bold mb-0">Vazão Saída - {{vazaoSaida}}
                    litros/segundo</span></div>
                  <div class="col-12 inline-block"><span class="h2 font-weight-bold mb-0">Pressão - 407 Pa</span></div>
                </div>

                <div class="col-6 inline-block">
                  <p class="mt-3 mb-0 text-muted text-sm">
                    <span class="{{textEntrada}} mr-2"><i class="fa {{class}}"></i> Vazão Entrada</span>
                    <span class="{{textSaida}} mr-2"><i class="fa {{classSaida}}"></i> Vazão Saída</span>
                  </p>
                </div>

                <div class="col-6 inline-block text-right">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="center-j m-4">
  <h1>O que é Pascal (Pa)?</h1>

  <p>O pascal (símbolo: Pa) é uma unidade de medida de pressão no Sistema Internacional de Unidades (SI). Ele é
    utilizado para medir a pressão, que é a força exercida por unidade de área. Um pascal é definido como a pressão
    exercida por uma força de 1 newton agindo uniformemente sobre uma área de 1 metro quadrado. Isso significa que se
    você tiver uma área de 1 metro quadrado e aplicar uma força de 1 newton uniformemente nessa área, a pressão
    resultante será de 1 pascal.</p>

  <div class="mt-4 mb-4">
    <img src="./assets/img/pascal.png" class="img-j" alt="...">
  </div>

  <p>Para dar uma perspectiva, a pressão atmosférica ao nível do mar é aproximadamente 101.325 pascals, ou seja, cerca
    de 101.325 newtons de força exercidos em cada metro quadrado de área. No entanto, é importante notar que existem
    outras unidades comumente usadas para medir pressão, como o bar, o milímetro de mercúrio (mmHg) e o psi (libra-força
    por polegada quadrada).</p>

  <!--  <div class="mt-4 mb-4">-->
  <!--    <img src="./assets/img/biodigestor-funcionamento.jpg" class="img-j" alt="...">-->
  <!--  </div>-->

  <p>O pascal é uma unidade fundamental para diversas áreas, como física, engenharia, ciências dos materiais e
    meteorologia, sendo essencial para medir e compreender a pressão em diferentes contextos e sistemas.</p>
</div>
