<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="header-body">
    <div class="container-fluid mt-2">
      <h1 class="text-white">Gráficos</h1>
      <div class="m-8 p-3 bg-white center-j" style="width: 900px !important; height: 600px !important; margin: auto!important;">
        <main role="main" class="">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <!-- Example single danger button -->

            <div class="card flex justify-content-center">
              <p-dropdown (onChange)="alterarCampos()" [options]="graficos" [(ngModel)]="selectedGrafico" optionLabel="name"></p-dropdown>
            </div>

            <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
          </div>
        </main>
      </div>
    </div>
  </div>
</div>

<div class="m-8">
  <h2>Log Biodigestor</h2>
  <div *ngIf="selectedGrafico.name === 'Real-Time'">
    <div class="scroll-view" style="height: 350px; overflow-y: auto;">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Data/Hora</th>
            <th>Fluxo Entrada</th>
            <th style="color: #007bff !important;">Vazão Entrada</th>
            <th>Fluxo Saída</th>
            <th style="color: #fa5151 !important;">Vazão Saída</th>
            <th>Pressão</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor=" let item of tableData">
            <td>{{ item.id }}</td>
            <td>{{ item.fluxoEntrada }}</td>
            <td>{{ item.vazaoEntrada }}</td>
            <td>{{ item.fluxoSaida }}</td>
            <td>{{ item.vazaoSaida }}</td>
            <td>{{ item.pressao }} </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div *ngIf="selectedGrafico.name !== 'Real-Time'">
    <div class="scroll-view" style="height: 350px; overflow-y: auto;">
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Data</th>
            <th>Total</th>
            <th>Mínimo</th>
            <th>Máximo</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of tableDataHour">
            <td>{{ item.id }}</td>
            <td>{{ item.total }}</td>
            <td>{{ item.minimo }}</td>
            <td>{{ item.maximo }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
