<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

      <h1>BiodigestorAnalytics</h1>

      <h2>Bem-vindo ao mundo da eficiência energética e sustentabilidade! Nosso site é seu portal para o universo dos
        biodigestores, onde a inovação encontra a preservação ambiental. Oferecemos soluções de monitoramento de última
        geração para biodigestores, permitindo o controle preciso e a otimização das operações. Explore nossos recursos,
        descubra as vantagens ambientais e econômicas da nossa tecnologia e junte-se a nós na busca por um futuro mais
        verde e responsável.</h2>
    </div>
  </div>
</div>

<!--<div class="center-j m-4">-->
<!--  <h1>O que é um Biodigestor?</h1>-->

<!--  <p>Um biodigestor é uma tecnologia inovadora que transforma resíduos orgânicos, como restos de alimentos, esterco-->
<!--    animal, resíduos agrícolas e até mesmo esgoto, em biogás e biofertilizante por meio de um processo chamado digestão-->
<!--    anaeróbica. Esse sistema funciona de maneira fascinante, aproveitando a ação de microrganismos em um ambiente sem-->
<!--    oxigênio para decompor a matéria orgânica.</p>-->

<!--  <div class="mt-4 mb-4">-->
<!--    <img src="./assets/img/biodigestor.png" class="navbar-brand-img" alt="...">-->
<!--  </div>-->

<!--  <p>No coração do biodigestor, a matéria orgânica é colocada em um ambiente hermético, onde a ausência de oxigênio-->
<!--    permite que bactérias anaeróbicas quebrem esses materiais em componentes mais simples. Esse processo libera biogás,-->
<!--    uma mistura de metano e dióxido de carbono que pode ser usado como combustível para geração de energia térmica e-->
<!--    elétrica. Além disso, como subproduto desse processo, temos o biofertilizante, um rico adubo orgânico que pode ser-->
<!--    utilizado na agricultura.</p>-->

<!--  <div class="mt-4 mb-4">-->
<!--    <img src="./assets/img/biodigestor-funcionamento.jpg" class="img-j" alt="...">-->
<!--  </div>-->

<!--  <p>A beleza dessa tecnologia está na sua versatilidade e no potencial para resolver questões ambientais e energéticas.-->
<!--    Desde comunidades rurais até grandes indústrias, os biodigestores oferecem uma maneira sustentável de lidar com-->
<!--    resíduos orgânicos, transformando-os em recursos valiosos.</p>-->
<!--</div>-->

<div style="margin-left: 600px;">
  <div class="center">
    <p-card header="Teste Mongo">
      <p>Obter dados MongoDB</p>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Buscar" (click)="buscarDados()" class="p-button-success"></button>
      </div>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Limpar" (click)="limpar()" class="p-button-success"></button>
      </div>

      <div class="col-4 inline-block">
        <button pButton pRipple label="Novo" (click)="novo()" class="p-button-success"></button>
      </div>

      <div *ngIf="dados && dados.length">
        <div class="card">
          <p-table [value]="dados" [tableStyle]="{ 'min-width': '50rem' }">
            <ng-template pTemplate="header">
              <tr>
                <th>ID</th>
                <th>Chave</th>
                <th>Nome</th>
                <th>Vazão</th>
                <th>Pressão</th>
                <th>Data</th>
                <th></th>
                <th></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-dado>
              <tr>
                <td>{{ dado.id }}</td>
                <td>{{ dado.chave }}</td>
                <td>{{ dado.nome}}</td>
                <td>{{ dado.vazao }}</td>
                <td>{{ dado.pressao }}</td>
                <td>{{ dado.data }}</td>
                <td><button pButton pRipple label="Editar" (click)="editar(dado)" class="p-button-prmary"></button></td>
                <td><button pButton pRipple label="Deletar" (click)="deletar(dado.id)" class="p-button-danger"></button></td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-dialog [modal]="true" [draggable]="false" (onHide)="limparFiltro()" header="Novo" [(visible)]="visible" [style]="{width: '50vw'}">
  <div class="center">
    <div><p>Nome</p></div>
    <div class="mb-4"><input type="text" pInputText [(ngModel)]="filtro.nome"/></div>
    <div>
      <button pButton pRipple label="Novo" (click)="enviarNovo()" class="p-button-success"></button>
    </div>
  </div>
</p-dialog>

<p-dialog [modal]="true" [draggable]="false" (onHide)="limparFiltro()" header="Editar" [(visible)]="visibleEditar" [style]="{width: '50vw'}">
  <div class="center">
    <div><p>Nome</p></div>
    <div class="mb-4"><input type="text" pInputText [(ngModel)]="filtro.dadoEditar.chave"/></div>
    <div>
      <button pButton pRipple label="Novo" (click)="enviarEditado()" class="p-button-success"></button>
    </div>
  </div>
</p-dialog>
